name: "Storage K8s: Publish"

on:
  workflow_call:
    inputs:
      dry-run:
        type: boolean
        default: false

jobs:
  quality:
    uses: charmarr/.github/.github/workflows/charm-ci.yaml@v1
    with:
      charm-path: charms/charmarr-storage-k8s

  publish:
    needs: quality
    uses: charmarr/.github/.github/workflows/charm-publish.yaml@v1
    with:
      charm-path: charms/charmarr-storage-k8s
      channel: latest/edge
      dry-run: ${{ inputs.dry-run || false }}
      substrate-channel: 1.32/stable
      load-nfs-modules: true
      classic-microk8s-suites: '["test_native_nfs_backend.py"]'
    secrets:
      CHARMHUB_TOKEN: ${{ secrets.CHARMHUB_TOKEN }}
