name: "Multimeter: CI"

on:
  workflow_call:

jobs:
  quality:
    uses: charmarr/.github/.github/workflows/charm-ci.yaml@v1
    with:
      charm-path: charms/charmarr-multimeter
      run-terraform-validate: false
