name: "Storage K8s: Publish Edge"

on:
  workflow_call:
    inputs:
      dry-run:
        type: boolean
        default: false

jobs:
  quality:
    uses: charmarr/.github/.github/workflows/charm-ci.yaml@v1
    with:
      charm-path: charms/charmarr-storage-k8s

  publish:
    needs: quality
    uses: charmarr/.github/.github/workflows/charm-publish-edge.yaml@v1
    with:
      charm-path: charms/charmarr-storage-k8s
      track: latest
      dry-run: ${{ inputs.dry-run || false }}
      extra-debs: nfs-common
      microk8s-channel: 1.32/stable
    secrets:
      CHARMHUB_TOKEN: ${{ secrets.CHARMHUB_TOKEN }}
